.sidebar{
    background-color: #171717;
    color:#b4b4b4;
    height:100vh;
    width:200px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    
}

button{
    display :flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255,255,255,0.5);
}

.logo{
    height:25px;
    width:25px;
    background-color: #fff;
    border-radius: 5px;
    object-fit:cover;
}

button span {
    font-size:20px;
}

button:hover{
    background-color: rgba(180,180,180,0.05);
    cursor:pointer;
}

.history{
    margin: 1px;
    padding: 1px;
    overflow-x: hidden; 
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #2b2b2b #121212; 
}

.history li{
    list-style-type: none;
    cursor:pointer;
    padding:2px 5px;
    margin-bottom: 0.3rem;
    font-size:14px;
    border:solid 10px transparent;
    position:relative;
}

.history li:hover{
    background-color: rgba(180,180,180,0.05);
    border-radius: 5px;
}

.sign{
    font-size: 14px;
    text-align:center;
    border-top: solid 0.25px rgba(255,255,255,0.5); 
}

.fa-trash{
    opacity:0;
    position:absolute;
    right:0;
}

.history li:hover .fa-trash{
    opacity:1;
    color: #fff;
}

.fa-trash:hover{
    color:#f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}